# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Environment variables (Sensitive data)
.env

# Local development overrides
docker-compose.override.yml

# Docker build artifacts
.dockerignore

# OS specific files
.DS_Store
Thumbs.db

# Application logs
*.log

build-multiarch.sh