services:

  redlab-app:
    image: nomad375/redlab-daq:latest
    container_name: redlab-app
    privileged: true
    restart: always
    volumes:
      - /dev:/dev
    env_file: .env
    environment:
      - INFLUX_URL=http://influxdb:8086
    depends_on:
      influxdb:
        condition: service_healthy 

  mscl-app:
    image: nomad375/mscl-daq:latest
    container_name: mscl-app
    privileged: true
    restart: always
    environment:
      - MSCL_LOCK_FILE=/var/lock/mscl/base.lock
    ports:
      - "5000:5000"  
    volumes:
      - /dev:/dev
      - mscl_lock:/var/lock/mscl
    env_file: .env
    depends_on:
      influxdb:
        condition: service_healthy

  influxdb:
    image: influxdb:2.7
    container_name: influxdb
    ports:
      - "8086:8086"
    volumes:
      - influxdb_data:/var/lib/influxdb2
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=${INFLUX_ADMIN_PASSWORD}
      - DOCKER_INFLUXDB_INIT_ORG=${INFLUX_ORG}
      - DOCKER_INFLUXDB_INIT_BUCKET=${INFLUX_BUCKET}
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=${INFLUX_TOKEN}
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8086/health"]
      interval: 10s
      timeout: 5s
      retries: 5
  
  grafana:
    image: grafana/grafana-oss
    container_name: grafana
    ports:
      - "3000:3000"
    env_file: .env
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_ADMIN_PASSWORD}
      - GF_SERVER_ROOT_URL=${GRAFANA_ACCESS_ADDRESS}
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
    depends_on:
      - influxdb
    restart: always

volumes:
  influxdb_data:
  grafana_data:
  mscl_lock:
